body {
  margin-left: 200px;
  margin-right: 200px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #4B4B4B;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  margin-top: 25px;
  margin-bottom: 7px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

p, ul, ol {
  margin-bottom: 7px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

li {
  margin-top: 7px;
}

code {
    padding: 2px 4px;
    font-size: 95%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid;
}

thead {
  background: #808080;
}

thead th, tfoot th {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: white;
}

th, td {
  padding: 20px;
}

th {
  letter-spacing: 2px;
}

tbody tr:nth-child(even) {
  background-color: #C8C8C8;
}

a {
    color: #428bca;
    text-decoration: none;
}

.MJXc-display {
  text-align: left !important;
  margin-left: 20px !important;
}

.title, .author, .date {
  display: none;
}

